#studio-page {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.bg-grad-blue {
  background: linear-gradient(97.5deg, #3089cc 0%, #0067a3 55.17%);
}

#export-project {
  color: rgba(255, 255, 255, 0.748);
}

#export-project:hover {
  color: #f8f9fa;
}

.ayoba-header-bg {
  background: rgb(237, 114, 53);
  background: linear-gradient(90deg, rgb(237, 114, 53) 0%, rgb(186, 58, 39) 100%);
}

.relative {
  position: relative;
}

#studio-page main {
  display: grid;
  grid-template-columns: 70px 250px auto 250px;
  height: 100%;
}

.absolute {
  position: absolute;
}

.gradient-gray {
  background: #bdc3c7;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(190, 190, 190, 0.6901960784));
}

[data-type=text] {
  font-family: Arial;
  font-size: 14px;
  text-align: left;
}

#view-wrapper {
  align-self: center;
  justify-self: center;
}
#view-wrapper .mobile {
  background-color: rgb(29, 29, 29);
  border-radius: 25px;
  padding: 12px 7px 20px 7px;
  box-shadow: 0 0 200px #e3e3e3 inset;
  border: 3px solid rgba(255, 255, 255, 0.1490196078);
  overflow-y: hidden;
}

.hide-scrollbar, .innerContainer, #container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar, .innerContainer::-webkit-scrollbar, #container::-webkit-scrollbar {
  display: none;
}

#mobile-header {
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}

#container {
  height: 70vh;
  width: 40vh;
  overflow-y: scroll;
  background-color: #fff;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.edit-toolbox {
  background: rgba(45, 129, 194, 0.7098039216);
  border-radius: 0.3rem;
  position: absolute;
  width: 180px;
  height: 250px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-animation: slide-left 0.5s forwards;
          animation: slide-left 0.5s forwards;
}

.innerContainer {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.0196078431) inset;
  height: 249px;
  overflow-y: scroll;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.paddingTool {
  margin: 0.4rem 0;
  color: white;
  font-weight: lighter;
}
.paddingTool input {
  font-size: 0.9rem;
  width: 40px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 5px;
}

.urlTool {
  margin: 0.4rem 0;
  color: white;
  font-weight: lighter;
}
.urlTool input {
  font-size: 0.9rem;
  width: 100px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 5px;
}

.colorBtn {
  width: 25px;
  height: 25px;
  transition: 0.5s;
}

.colorBtn:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.247);
}

.edit-toolbox::before {
  border-style: solid;
  border-top-width: 12px;
  border-right-width: 18px;
  border-bottom-width: 13px;
  top: 21px;
  border-left-width: 24px;
  border-color: rgba(62, 71, 79, 0) rgba(45, 129, 194, 0.7098039216) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  left: -42px;
  position: absolute;
  content: "";
}

.block {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 1300px;
}

.block-content {
  width: 80%;
}

.slide-left {
  -webkit-animation: slide-left 0.5s forwards;
          animation: slide-left 0.5s forwards;
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0.1;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0.1;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.slide-right {
  -webkit-animation: slide-right 0.5s forwards;
          animation: slide-right 0.5s forwards;
}

@-webkit-keyframes slide-right {
  0% {
    opacity: 0.1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0.1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
[contenteditable]:focus {
  outline: 1px solid rgb(190, 17, 212);
}

.bg-gray-dark {
  background-color: #343a40;
}

.bg-gray-100 {
  background-color: #f8f9fa;
}

.bg-gray-200 {
  background-color: #e9ecef;
}

.bg-gray-300 {
  background-color: #dee2e6;
}

.bg-gray-400 {
  background-color: #ced4da;
}

.bg-gray-500 {
  background-color: #adb5bd;
}

.bg-gray-600 {
  background-color: #6c757d;
}

.bg-gray-700 {
  background-color: #495057;
}

.bg-gray-800 {
  background-color: #343a40;
}

.bg-gray-900 {
  background-color: #212529;
}

.smaller {
  font-size: 0.6em;
}

.sqr-1 {
  width: 0.5rem;
  height: 0.5rem;
}

.sqr-2 {
  width: 1rem;
  height: 1rem;
}

.sqr-3 {
  width: 1.5rem;
  height: 1.5rem;
}

.sqr-4 {
  width: 2rem;
  height: 2rem;
}

.hover-border-secondary {
  border: 1px solid transparent;
}

.hover-border-secondary:hover {
  border: 1px solid rgba(108, 117, 125, 0.431372549);
}

.scroll-y {
  overflow-y: scroll;
}

.drop-shadow {
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.15));
}

#guideline {
  margin: 2px 5%;
  border: 1px solid #c80cce;
}

.focusBorder {
  border: 0.5px dashed red !important;
}

.highlightBorder {
  box-shadow: 0 0 0.05rem 0.11rem rgb(45, 129, 194) !important;
}

.highlightBorder2 {
  box-shadow: 0 0 0.05rem 0.11rem rgb(45, 129, 194) !important;
}

.muted {
  opacity: 0.4;
}

.mx-min {
  margin: 5px 1%;
}/*# sourceMappingURL=main.css.map */