body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}
header {
    background: linear-gradient(97.5deg, #3089cc 0%, #0067a3 55.17%);
    color: #f8f9fa;

    #download-code {
        color: rgba(255, 255, 255, 0.748);
    }
    #download-code:hover {
        color:  #f8f9fa;
    }
}
main {
    display: grid;
    grid-template-columns: 250px auto;
}
#components-wrapper {
    background-color: #222222;
    height: 94vh;

    .options {
        height: 10%;
        background-color: #161616;
        padding: 1rem .5rem;
        text-align: center;
        font-size: .8rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        button {
            border: none;
            color: #fff;
            background-color: rgba(142, 142, 142, 0.246);
            padding: .5rem;
            border-radius: 2px;
        }
    }
}
.elements-container {
    height: 90%;
    overflow-y: scroll;
    padding: .9rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    .drag-item {
        background-color: #ffffff30;
        color: #fff;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        height: 5rem;
        margin: 10px;
        cursor: grab;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .4rem;
        font-size: .7rem;
        color: rgba(255, 255, 255, 0.825);
        border: 1px solid rgba(255, 255, 255, 0.079);

        i {
            font-size: 1.5rem;
            display: block;
            margin: 0;
        }
    }
    .drag-item:hover {
        border: 1px dotted rgba(255, 255, 255, 0.523);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
}
.mirror {
    width: 12rem;
    opacity: .7;
    border: 1px solid #fff;
    position: fixed;
    background-color: #0067a369;
    border-radius: 5px;
    cursor: grabbing;

    i {
        font-size: 2rem;
    }
}

[data-type="text"] {
font-family:Arial;
font-size:14px;
text-align:left;
}
.drag-item p {
text-align:center;
}
#view-wrapper {
    align-self: center;
    justify-self: center;
    box-shadow: 0 0 200px #e3e3e3 inset;

    .mobile {
        background-color: rgb(29, 29, 29);
        border-radius: .8rem;
        padding: 10px 7px;
        margin: 0 auto;
    }
}
#container {
    height: 76vh;
    width: 42vh;
    overflow-y: scroll;
    margin: 30px auto;
    background-color: #fff;

    .drag-item:hover {
        border: 1px dotted #2d81c2b5;
    }
}

.edit-options {
    // visibility: hidden;
    background: #2d81c2b5;
    border-radius: .3rem;
    position: absolute;
    width: 150px;
    padding: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

    button input {
        width: 80%;
    }
}
.block {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 1300px;
}
.block-content {
    width: 80%;
}