body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

header {
    background: linear-gradient(97.5deg, #3089cc 0%, #0067a3 55.17%);
    color: #f8f9fa;

    #export-project {
        color: rgba(255, 255, 255, 0.748);
    }

    #export-project:hover {
        color: #f8f9fa;
    }
}
.ayoba-header-bg {
    background: rgb(237,114,53);
    background: linear-gradient(90deg, rgba(237,114,53,1) 0%, rgba(186,58,39,1) 100%);
}

main {
    display: grid;
    grid-template-columns: 250px auto;
}
.absolute {
    position: absolute;
}
.gradient-gray {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(250 250 250), #bebebeb0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#components-wrapper {
    background-color: #222222;
    height: 94vh;

    .options {
        height: 10%;
        background-color: #161616;
        padding: 1rem .5rem;
        text-align: center;
        font-size: .8rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        button {
            border: none;
            color: #fff;
            background-color: rgba(142, 142, 142, 0.246);
            padding: .5rem;
            border-radius: 2px;
        }
    }
}

.elements-container {
    height: 90%;
    overflow-y: scroll;
    padding: .9rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    .drag-item {
        background-color: #ffffff30;
        color: #fff;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
        height: 5rem;
        margin: 10px;
        cursor: grab;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .4rem;
        font-size: .7rem;
        color: rgba(255, 255, 255, 0.825);
        border: 1px solid rgba(255, 255, 255, 0.079);

        i {
            font-size: 1.5rem;
            display: block;
            margin: 0;
        }
    }

    .drag-item:hover {
        border: 1px dotted rgba(255, 255, 255, 0.523);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    }
}

.mirror {
    width: 12rem;
    opacity: .7;
    border: 1px solid #fff;
    position: fixed;
    background-color: #0067a369;
    border-radius: 5px;
    cursor: grabbing;

    i {
        font-size: 2rem;
    }
}

[data-type="text"] {
    font-family: Arial;
    font-size: 14px;
    text-align: left;
}

.drag-item p {
    text-align: center;
}

#view-wrapper {
    align-self: center;
    justify-self: center;
    box-shadow: 0 0 200px #e3e3e3 inset;

    .mobile {
        background-color: rgb(29, 29, 29);
        border-radius: .8rem;
        padding: 10px 7px;
        margin: 0 auto;
    }
}

#container {
    height: 76vh;
    width: 42vh;
    overflow-y: scroll;
    margin: 30px auto;
    background-color: #fff;

    .drag-item:hover {
        box-shadow: 0 0 0 0.1rem #2d81c2a8;
    }
}

// EditTool CLASS STYLES ----------------
.edit-toolbox {
    // visibility: hidden;
    background: #2d81c2b5;
    border-radius: .3rem;
    position: absolute;
    width: 180px;
    height: 250px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    animation: slide-left .5s forwards;

    .innerContainer {
        box-shadow: 0 0 11px #00000005 inset;
        height: 249px;
        overflow-y: scroll;
        padding: .5rem;
        border-radius: .3rem;
    }

    .paddingTool {
        margin: .4rem 0;
        color: white;
        font-weight: lighter;

        input {
            font-size: .9rem;
            width: 40px;
            height: 20px;
            border: none;
            outline: none;
            border-radius: 5px;
            margin-left: 5px;
        }
    }
    .urlTool {
        margin: .4rem 0;
        color: white;
        font-weight: lighter;

        input {
            font-size: .9rem;
            width: 100px;
            height: 20px;
            border: none;
            outline: none;
            border-radius: 5px;
            margin-left: 5px;
        }
    }
    .colorBtn {
        width: 25px;
        height: 25px;
        
    }
}
.edit-toolbox::before {
    border-style: solid;
    border-top-width: 12px;
    border-right-width: 18px;
    border-bottom-width: 13px;
    top: 21px;
    border-left-width: 24px;
    border-color: rgb(62 71 79 / 0%) rgba(45, 129, 194, 0.7098039216) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    left: -42px;
    position: absolute;
    content: "";
}

// ---------------------------------------
.block {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 1300px;
}

.block-content {
    width: 80%;
}

.slide-left {
    animation: slide-left .5s forwards;
}
@keyframes slide-left {
    0% {
        opacity: 0.1;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.slide-right {
    animation: slide-right .5s forwards;
}
@keyframes slide-right {
    0% {
        opacity: 0.1;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}