body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

header {
  background: linear-gradient(97.5deg, #3089cc 0%, #0067a3 55.17%);
  color: #f8f9fa;
}
header #export-project {
  color: rgba(255, 255, 255, 0.748);
}
header #export-project:hover {
  color: #f8f9fa;
}

.ayoba-header-bg {
  background: rgb(237, 114, 53);
  background: linear-gradient(90deg, rgb(237, 114, 53) 0%, rgb(186, 58, 39) 100%);
}

main {
  display: grid;
<<<<<<< HEAD
=======
  -ms-grid-columns: 250px auto;
>>>>>>> e91fe40 (ecommerce start)
  grid-template-columns: 250px auto;
}

.absolute {
  position: absolute;
}

.gradient-gray {
  background: #bdc3c7;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(190, 190, 190, 0.6901960784));
}

#components-wrapper {
  background-color: #222222;
  height: 94vh;
}
#components-wrapper .options {
  height: 10%;
  background-color: #161616;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  display: grid;
<<<<<<< HEAD
=======
  -ms-grid-columns: 1fr 1fr;
>>>>>>> e91fe40 (ecommerce start)
  grid-template-columns: 1fr 1fr;
}
#components-wrapper .options button {
  border: none;
  color: #fff;
  background-color: rgba(142, 142, 142, 0.246);
  padding: 0.5rem;
  border-radius: 2px;
}

.components-container {
  height: 90%;
  overflow-y: scroll;
  padding: 0.9rem;
  display: grid;
<<<<<<< HEAD
=======
  -ms-grid-columns: (1fr)[];
>>>>>>> e91fe40 (ecommerce start)
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.components-container .drag-item {
  background-color: rgba(255, 255, 255, 0.1882352941);
  color: #fff;
<<<<<<< HEAD
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 5rem;
  margin: 10px;
=======
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 5rem;
>>>>>>> e91fe40 (ecommerce start)
  padding: 0;
  margin: 0;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 5px;
  display: flex;
<<<<<<< HEAD
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  font-size: 0.7rem;
=======
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: .7rem;
>>>>>>> e91fe40 (ecommerce start)
  color: rgba(255, 255, 255, 0.825);
  border: 1px solid rgba(255, 255, 255, 0.079);
}
.components-container .drag-item i {
  font-size: 1.5rem;
  display: block;
  margin: 0;
}
.components-container .drag-item:hover {
  border: 1px dotted rgba(255, 255, 255, 0.523);
<<<<<<< HEAD
=======
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
>>>>>>> e91fe40 (ecommerce start)
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.mirror {
  width: 12rem;
  opacity: 0.7;
  border: 1px solid #fff;
  position: fixed;
  background-color: rgba(0, 103, 163, 0.4117647059);
  border-radius: 5px;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.mirror i {
  font-size: 2rem;
}

[data-type=text] {
  font-family: Arial;
  font-size: 14px;
  text-align: left;
}

.drag-item p {
  text-align: center;
<<<<<<< HEAD
  margin: 0;
}

#view-wrapper {
  align-self: center;
=======
  margin : 0;
}

#view-wrapper {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
>>>>>>> e91fe40 (ecommerce start)
  justify-self: center;
}
#view-wrapper .mobile {
  background-color: rgb(29, 29, 29);
  border-radius: 25px;
  padding: 12px 7px 20px 7px;
<<<<<<< HEAD
  box-shadow: 0 0 200px #e3e3e3 inset;
  border: 3px solid rgba(255, 255, 255, 0.1490196078);
  overflow-y: hidden;
}

.hide-scrollbar, .edit-toolbox .innerContainer, #container, .components-container {
=======
  -webkit-box-shadow: 0 0 200px #e3e3e3 inset;
  box-shadow: 0 0 200px #e3e3e3 inset;
  border: 3px solid #ffffff26;
  overflow-y: hidden;
}

.hide-scrollbar,
.components-container,
#container,
.edit-toolbox .innerContainer {
>>>>>>> e91fe40 (ecommerce start)
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
<<<<<<< HEAD
.hide-scrollbar::-webkit-scrollbar, .edit-toolbox .innerContainer::-webkit-scrollbar, #container::-webkit-scrollbar, .components-container::-webkit-scrollbar {
=======
.hide-scrollbar::-webkit-scrollbar,
.components-container::-webkit-scrollbar,
#container::-webkit-scrollbar,
.edit-toolbox .innerContainer::-webkit-scrollbar {
>>>>>>> e91fe40 (ecommerce start)
  display: none;
}

#container {
  height: 76vh;
  width: 40vh;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 17px;
}
#container .drag-item:hover {
<<<<<<< HEAD
  box-shadow: 0 0 0 0.1rem rgba(45, 129, 194, 0.6588235294);
=======
  -webkit-box-shadow: 0 0 0 0.1rem #2d81c2a8;
  box-shadow: 0 0 0 0.1rem #2d81c2a8;
>>>>>>> e91fe40 (ecommerce start)
}

.edit-toolbox {
  background: rgba(45, 129, 194, 0.7098039216);
  border-radius: 0.3rem;
  position: absolute;
  width: 180px;
  height: 250px;
<<<<<<< HEAD
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-animation: slide-left 0.5s forwards;
          animation: slide-left 0.5s forwards;
=======
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-animation: slide-left .5s forwards;
  animation: slide-left .5s forwards;
>>>>>>> e91fe40 (ecommerce start)
}
.edit-toolbox .innerContainer {
<<<<<<< HEAD
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.0196078431) inset;
=======
  -webkit-box-shadow: 0 0 11px #00000005 inset;
  box-shadow: 0 0 11px #00000005 inset;
>>>>>>> e91fe40 (ecommerce start)
  height: 249px;
  overflow-y: scroll;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.edit-toolbox .paddingTool {
  margin: 0.4rem 0;
  color: white;
  font-weight: lighter;
}
.edit-toolbox .paddingTool input {
  font-size: 0.9rem;
  width: 40px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 5px;
}
.edit-toolbox .urlTool {
  margin: 0.4rem 0;
  color: white;
  font-weight: lighter;
}
.edit-toolbox .urlTool input {
  font-size: 0.9rem;
  width: 100px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 5px;
}
.edit-toolbox .colorBtn {
  width: 25px;
  height: 25px;
  transition: 0.5s;
}
.edit-toolbox .colorBtn:hover {
<<<<<<< HEAD
=======
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.247);
>>>>>>> e91fe40 (ecommerce start)
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.247);
}

.edit-toolbox::before {
  border-style: solid;
  border-top-width: 12px;
  border-right-width: 18px;
  border-bottom-width: 13px;
  top: 21px;
  border-left-width: 24px;
  border-color: rgba(62, 71, 79, 0) rgba(45, 129, 194, 0.7098039216) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  left: -42px;
  position: absolute;
  content: "";
}

.block {
  background-color: #fff;
  border-radius: 2px;
<<<<<<< HEAD
=======
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
>>>>>>> e91fe40 (ecommerce start)
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 1300px;
}

.block-content {
  width: 80%;
}

.slide-left {
<<<<<<< HEAD
  -webkit-animation: slide-left 0.5s forwards;
          animation: slide-left 0.5s forwards;
=======
  -webkit-animation: slide-left .5s forwards;
  animation: slide-left .5s forwards;
>>>>>>> e91fe40 (ecommerce start)
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0.1;
<<<<<<< HEAD
=======
    -webkit-transform: translateX(20px);
>>>>>>> e91fe40 (ecommerce start)
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
<<<<<<< HEAD
=======
    -webkit-transform: translateX(0px);
>>>>>>> e91fe40 (ecommerce start)
    transform: translateX(0px);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0.1;
<<<<<<< HEAD
=======
    -webkit-transform: translateX(20px);
>>>>>>> e91fe40 (ecommerce start)
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
<<<<<<< HEAD
=======
    -webkit-transform: translateX(0px);
>>>>>>> e91fe40 (ecommerce start)
    transform: translateX(0px);
  }
}
.slide-right {
<<<<<<< HEAD
  -webkit-animation: slide-right 0.5s forwards;
          animation: slide-right 0.5s forwards;
=======
  -webkit-animation: slide-right .5s forwards;
  animation: slide-right .5s forwards;
>>>>>>> e91fe40 (ecommerce start)
}

@-webkit-keyframes slide-right {
  0% {
    opacity: 0.1;
<<<<<<< HEAD
=======
    -webkit-transform: translateX(-10px);
>>>>>>> e91fe40 (ecommerce start)
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
<<<<<<< HEAD
=======
    -webkit-transform: translateX(0px);
>>>>>>> e91fe40 (ecommerce start)
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0.1;
<<<<<<< HEAD
=======
    -webkit-transform: translateX(-10px);
>>>>>>> e91fe40 (ecommerce start)
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
<<<<<<< HEAD
    transform: translateX(0px);
  }
}/*# sourceMappingURL=main.css.map */
=======
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=main.css.map */
>>>>>>> e91fe40 (ecommerce start)
